.navbar{ 
    background-color: rgb(29, 28, 28);
    color: white;
    padding: 20px 50px;
}
ul{ 
    margin:0;
    text-align: right;

}
li{
    color: white; 
    margin: 10px;
    display: inline;
    cursor: pointer;
}
a{ 
    color: white; 
    margin: 10px;

}